@media (max-width: 910px) {
    .container .card .text {
        transform: translateY(-40px)   
    }
    .container .card .text span {
        font-size: 40px;
    }
}


@media (max-width: 310px) {
    .contet .c-p .con {
        flex-wrap: wrap;
    }
}