@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap'); /*ali text*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&family=Cinzel&display=swap');

:root {
    /* color */
    --bg-color: #151516;
    --tx-color: #cac7c7;

    --profile-color: linear-gradient(0deg, #1b1b1b 85%, #550202 40%);

    /* size */
    --container: 50px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(102, 98, 98); 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgba(136, 1, 1, 0.993));
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c33b);
}

.navbar {
    position: fixed;
    transform: translateY(-50%);
    display: flex;
    top: 50%;
    right: 0;
    height: 200px;
    background: rgb(65, 64, 64);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    gap: 10px;
}
.navbar a {
    font-size: 40px;
    color: gray;
}
.navbar a:hover {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: var(--tx-color);

}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--tx-color);
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: #171820 url('https://wallpapercave.com/wp/wp2757874.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.5s ease-in-out;
}


section {
    min-height: 100vh;
    width: 100%;
}



.container {
    padding: 0 ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color);
}

.container .card  {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.container .card .text {
    position: relative;
    display: block;
    -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container .card .text span {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    animation: animate 3s ease-in-out infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-40px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}


.container .card .profile {
    border-radius: 20px;
    height: auto;
    width: 400px;
    min-height: 100px;
    background: var(--profile-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 20px 50px;
    margin: 0 10px 60px;
    box-shadow: -19px 20px 0px 2px #000;
}

.container .card .profile .img {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}

.container .card .profile .img img {
    border-radius: 50%;
    width: 150px;
}

.container .card .profile .content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.container .card .profile .content .user {
    font-size: 25px;
    margin-left: 20px;
    margin: 0 auto 20px;
}


.container .card .profile .content .skils .dev {
    display: flex;
}

.container .card .profile .content .dev .langugeName {
    margin-bottom: 20px;;
    text-align: center;
    display: flex;
    width: auto;
    padding: 0 5px;
    height: auto;
    background: rgba(3, 3, 3, 0.288);
    flex-direction: column;
    border-radius: 10px;
}

.container .card .profile .content .dev .langugeName div {
    cursor: default;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1rem;
}

.container .card .profile .content .dev .langugeName div:hover > span {
    display: flex;
}

.container .card .profile .content .dev .langugeName div span {
    backdrop-filter: blur(4px);
    border: 1px solid rgb(65, 64, 64);
    flex-direction: column;
    margin-left: 40px;
    display: none;
    width: auto;
    height: auto;
    padding: 10px;
    position: absolute;
    border-radius: 0 20px 20px;
    background-color: #00000086;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .card .profile .content .dev .langugeName div span h1 {
    color: #ffffff;
    font-size: 19px;
    margin-right: 5px;
}


.container .card .profile .content .dev .langugeName div span p {
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    padding: 5px;
    color: rgb(180, 180, 180);
    font-weight: 0;
    margin: 10px 5px;
    font-size: 13px
}

.container .card .profile .content .dev .languge {
    margin: 24px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container .card .profile .content .dev .languge div {
    display: flex;
    width: 100%;

}


.container .card .profile .content .dev .languge div span {
    margin-bottom: 32px;
    overflow: hidden;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 18px;
    background: rgb(59, 59, 59);
}

.container .card .profile .content .dev .languge div span div {
    text-align: center;
    width: 0%;
    height: 100%;
    background: red;
    animation: anim 2s ease-in-out normal;
    
}

.container .card .profile .content .dev .languge div span div span {
    background: red;
    margin-left: 0;
    height: 100%;
    color: #fff;
    width: 100%;
    font-weight: 1000;
    transition: all 0.5s ease;
}

@keyframes anim {
    0%, 30% {
        width: 0;
    }

    100% {
        width: attr(data-width);
    }
}

.container .card .profile .content .skils .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.container .card .profile .content .skils .links i {
    color: #dddddd;
    font-size: 1.2rem;
}

.container .card .profile .content .skils .links i a {
    font-size: 1.2rem;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .card .profile .content .skils .links i  a:hover {
    color: #fff;
}




 

.projects {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.main-heading {
    text-align: center;
    width: 100%;
}
.main-heading h2 {
    color: rgb(255 38 81);
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-top: 23px;
    margin-bottom: 48px;
    text-transform: uppercase;
}


.projects .pr {
    height: 250px;
    width: min(80%, 300px);
    border-radius: 10px;
    background-color: rgb(45 45 48 / 47%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    border: 3px solid #000;
    margin: 20px;
    transition: all 0.2s cubic-bezier(0, -0.15, 0, 1.34);
}
.projects .pr:hover {
    box-shadow: #00c33b 0px 0px 20px 5px;
    transform: translateY(-30px);
    transition: all 0.2s cubic-bezier(0.53, -0.6, 0.41, 1.36) 0s;
}

.projects .pr .pr-img {
    width: 100%;
    height: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.projects .pr .pr-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
.projects  .pr .pr-content {
    height: 100%;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.projects  .pr .pr-content .pr-p {
    color: rgb(168, 168, 168);
    font-size: 20px;
    font-weight: 100;
}
.projects .pr .pr-content .pr-btn {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007423;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.projects .pr .pr-content .pr-btn:hover {
    background-color: #00c33b;
}




.contet {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bg-color);
    flex-direction: row-reverse;
    align-items: center;
}

.contet .c-p {
    display: flex;
    border-radius: 20px;
    height: auto;
    width: min(80%, 601px);
    min-height: 100px;
    background: #131313;
    padding: 30px 11px 26px;
    margin: 30px 10px 5pc;
    box-shadow: -19px 20px 0px 0px #000;
    border: 1px solid #242424;
}

.contet .c-p .e-img {
    display: flex;
    width: 60%;
    height: 100%;
}
.contet .c-p p {
    display: inline-block;
}

.contet .c-p .e-img img {
    /* width: 100%; */
    /* height: 50%; */
    object-fit: cover;
}

.contet .c-p .con {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    align-content: center;
    align-items: flex-start;
    font-size: 20px;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    padding-left: 10px;
    margin: 16px 0 0 0;
}

.contet form {
    width: min(80%, 300px);
    height: auto;
}
.contet form div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    height: 100%
}
.contet form div div {
    margin-bottom: 30px;
    height: auto;
}
.contet form div div label {
    font-size: 20px;
}
.contet form div div input {
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid blue;
    color: #fff;
    outline: none;
    font-size: 20px;
}

.contet form div input[type="submit"] {
    background-color: indianred;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}